*.user
build-*


# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.d
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.Debug
*.Release
/compiledate.h
/compiler.h
*.def
.objs
.rccs
.uis
.mocs
.libs
*~#*#
.#*
.DS_Store
qrc_*.cpp
moc_*.cpp
*.save
*.layout
*.depend
*.log
object_script.*
.dep
*.lst
*.hex
*.elf
*.lst
*.lss
*.sym
*.d
Sicherungskopie_*.cdr
*.snm
*.toc
*.tps
*.t3r
*.dcu
*.~*
*.lck
*.synctex
*.tps
*.toc
*.out
*.snm
*.nav
*.aux
*.def
Thumbs.db
*.prf
*.exe
/doc/html
.qmake.stash
moc_predefs.h
/lib/jkqtplotter/*.TMP
/doc/doxygen_log.txt
/doc/*.tmp
*.prl
Sicherungskopie_*
/examples/simpletest_rgbimageplot_opencv/opencv
/build
/*.10-pre1
/install
/.vs
/CMakeSettings.json
/out
*.synctex.gz
