*.user
build-*


# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.d
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.Debug
*.Release
/compiledate.h
/compiler.h
*.def
.objs
.rccs
.uis
.mocs
.libs
*~#*#
.#*
.DS_Store
qrc_*.cpp
moc_*.cpp
*.save
*.layout
*.depend
*.log
object_script.*
.dep
*.lst
*.hex
*.elf
*.lst
*.lss
*.sym
*.d
Sicherungskopie_*.cdr
*.snm
*.toc
*.tps
*.t3r
*.dcu
*.~*
*.lck
*.synctex
*.tps
*.toc
*.out
*.snm
*.nav
*.aux
*.def
Thumbs.db
*.prf
*.exe
/doc/html
.qmake.stash
moc_predefs.h
/lib/jkqtplotter/*.TMP
/doc/doxygen_log.txt
/doc/*.tmp
*.prl
Sicherungskopie_*
/examples/simpletest_rgbimageplot_opencv/opencv
/build
/*.10-pre1
/install
/.vs
/CMakeSettings.json
/out
*.synctex.gz
*.bak
/doc/images/JKQTPImpulsesHorizontalErrorGraphBaseline.png
/doc/images/JKQTPImpulsesHorizontalErrorGraphBaseline_small.png
/doc/images/JKQTPImpulsesHorizontalErrorGraphNoBaseline.png
/doc/images/JKQTPImpulsesHorizontalErrorGraphNoBaseline_small.png
/doc/images/JKQTPImpulsesHorizontalGraphBaseline_small.png
/doc/images/JKQTPImpulsesHorizontalGraphNoBaseline_small.png
/doc/images/JKQTPImpulsesVerticalErrorGraphBaseline.png
/doc/images/JKQTPImpulsesVerticalErrorGraphBaseline_small.png
/doc/images/JKQTPImpulsesVerticalErrorGraphNoBaseline.png
/doc/images/JKQTPImpulsesVerticalErrorGraphNoBaseline_small.png
/doc/images/JKQTPImpulsesVerticalGraphBaseline_small.png
/doc/images/JKQTPImpulsesVerticalGraphNoBaseline_small.png
/doc/images/JKQTPImpulsesVerticalGraph_SymbolsBaseline.png
/doc/images/JKQTPImpulsesVerticalGraph_SymbolsBaseline_small.png
/doc/images/JKQTPImpulsesVerticalGraph_SymbolsNoBaseline.png
/doc/images/JKQTPImpulsesVerticalGraph_SymbolsNoBaseline_small.png
/doc/images/JKQTPBarHorizontalGraphBaseline.png
/doc/images/JKQTPBarHorizontalGraphBaseline_small.png
/doc/images/JKQTPBarHorizontalGraphNoBaseline.png
/doc/images/JKQTPBarHorizontalGraphNoBaseline_small.png
/doc/images/JKQTPBarVerticalGraphBaseline_small.png
/doc/images/JKQTPBarVerticalGraphNoBaseline_small.png
/screenshots/logaxes_nolog_small.png
/screenshots/logaxes_nominorgrid_small.png
/screenshots/imageplot__scale02_small.png
/screenshots/imageplot__smallscalecolor_small.png
/screenshots/imageplot__smallscalelimitcolor_small.png
/screenshots/imageplot__smallscaletransparent_small.png
/screenshots/datastore_calccolumns_small.png
/screenshots/datastore_image_small.png
/screenshots/datastore_image_sorted_small.png
/screenshots/datastore_linkedcarray_small.png
/screenshots/datastore_map_small.png
/screenshots/datastore_sine_small.png
/screenshots/datastore_sineimg_small.png
