language: cpp
sudo: false
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
dist: focal
osx_image: xcode8.3

matrix:
  exclude:
    # Disable all automatic entries in the test matrix
    - compiler: clang
    - compiler: gcc
    - os: osx
    - os: linux
  include:
    # Explicitly add tests that we want to run
    - env: BUILD_DOXYGEN="yes"
      compiler: gcc
      os: linux
      addons:
        apt:
          packages:
            - doxygen
            - doxygen-doc
            - doxygen-latex
            - doxygen-gui
            - graphviz
            - clang-9
            - libclang-9-dev
            - libclang-cpp9
      install:
        - pwd
        - doxygen --version
        ############################################################################
        # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
        ############################################################################
        - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
        - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
        ############################################################################
        # Install a recent Doxygen
        ############################################################################
        - DOXYGEN_URL="http://doxygen.nl/files/doxygen-1.8.20.linux.bin.tar.gz"
        - mkdir doxygen
        - travis_retry wget -O - ${DOXYGEN_URL} | tar --strip-components=1 -xz -C doxygen
        - export PATH=${DEPS_DIR}/doxygen/bin:${PATH}
        - doxygen --version
      script:
        - pwd
        - cd ${TRAVIS_BUILD_DIR}
        - cd doc
        - doxygen --version
        - doxygen Doxyfile
        - echo "" > html/.nojekyll
    - compiler: clang
      os: osx
    - compiler: clang
      os: linux
      addons:
        apt:
          packages:
            - libglu1-mesa-dev
    - compiler: gcc
      os: linux
      addons:
        apt:
          packages:
            - libglu1-mesa-dev

install:
  - source ci/install_travis.sh

script:
  - ci/test_travis.sh

notifications:
  email: false

deploy:
  provider: pages
  verbose: true
  deployment_file: true
  skip_cleanup: true
  local_dir: doc/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master
    condition: $BUILD_DOXYGEN = yes
