# This is a basic workflow to help you get started with Actions

name: Doxygen build&deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with: 
          path: JKQtPlotter
            
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get update --fix-missing
          sudo apt-get install -f
          sudo apt -y install build-essential doxygen graphviz doxygen-latex clang-9 libclang-9-dev libclang-cpp9
      
      - name: Update Doxygen to 1.9.3
        run: |
          currDir=`pwd`
          cd $GITHUB_WORKSPACE
          mkdir doxygen
          wget -O - https://netcologne.dl.sourceforge.net/project/doxygen/rel-1.9.3/doxygen-1.9.3.linux.bin.tar.gz | tar --strip-components=1 -xz -C doxygen
          export PATH=$GITHUB_WORKSPACE/doxygen/bin:${PATH}
          echo PATH=$PATH
          cd $currDir
          $GITHUB_WORKSPACE/doxygen/bin/doxygen --version

      - name: Run Doxygen
        run: |
          $GITHUB_WORKSPACE/doxygen/bin/doxygen --version
          cd JKQtPlotter
          pwd
          ls
          $GITHUB_WORKSPACE/doxygen/bin/doxygen 
      
      - name: Create .nojekyll (ensures pages with underscores work on gh pages)
        run: touch JKQtPlotter/doc/html/.nojekyll
        shell: bash

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          github_token: ${{ secrets.GH_PAGES_SECRET }}
          branch: gh-pages
          folder: JKQtPlotter/doc/html
          
